DCR:  Client metadata elements used from the software statement MUST also be returned directly as top-level client metadata values in the registration response

Over the last year I implemented dynamic client registration for Duende.  And of course it is also a new feature in Duende now.  My implmentation is profiled by the [UDAP](https://www.udap.org/udap-dynamic-client-registration-stu1.html#section-2) trusted dynamic client registration.   And then further profiled by a US HL7 FHIR implemenation guide refered to as the [Security Implemenation Guide](http://hl7.org/fhir/us/udap-security/registration.html)

> UDAP implements dynamic client registration using digital certificates as an extension to the OAuth 2.0 dynamic client registration protocol defined in RFC 7591

It has always been my plan to revisit the new DCR feature and try to plug into the new DCR feature.  The title of this issue is meant to reference [RFC 7591 section 3.2.1](https://www.rfc-editor.org/rfc/rfc7591#section-3.2.1) and specifically this quote

> If a software statement was used as part of the registration, its
   value MUST be returned unmodified in the response along with other
   metadata using the "software_statement" member name.  Client metadata
   elements used from the software statement MUST also be returned
   directly as top-level client metadata values in the registration
   response (possibly with different values, since the values requested
   and the values used may differ).

Through my analysis so far I have two friction points.

1. The first is of course the above RFC reference for registrations using the software-statement.  DynamicClientRegistrationResponse does not include metadata included in the original software_statement.  These would be considered extended properties.

2. And then I would also need DynamicClientRegistrationRequest capable of adding extended properties.  I have two properties needed for UDAP not available in DynamicClientRegistrationRequest.  

If those two objects could allow for extended properties then I believe the UDAP implementation of DCR could be acheived simply by supplying custome implemantions of IDynamicClientRegistrationValidator, IDynamicClientRegistrationRequestProcessor, IDynamicClientRegistrationResponseGenerator and IClientConfigurationStore.  

Let me know what you think. 

  

@JoeShook, In our DCR implementation, we include the software statement but don't make direct use of it. The reason for that is that establishing trust with the issuer of a software statement isn't specified by RFC 7591:

> The criteria by which authorization servers determine whether to trust and utilize the information in a software statement are outside the scope of this specification.

Since we don't know how implementers are going to make these decisions, we leave it as an extensibility point. The way that I imagined that extensibility working is through the use of the `DynamicClientRegistrationValidator.ValidateSoftwareStatementAsync` method. You could derive from that validator and override that method (which by default does nothing).

In your override, you would be responsible for establishing that the software statement was trustworthy, and then using the claims in the software statement to set properties of the `DynamicClientRegistrationContext.Client`. The properties that you set there should propagate through the whole registration process and be returned in the response. The full list of properties that we support directly are documented [here](https://docs.duendesoftware.com/identityserver/v6/configuration/dcr/reference/models/). So for the properties in that table (which includes both standardized properties as well as IdentityServer specific properties that control our configuration but that aren't in any spec),  you should be able to just set those properties directly from a software statement claim and get the values returned back to you in the response, as per spec.

The `DynamicClientRegistrationRequest` and `DynamicClientRegistrationResponse` both do also include `[JsonExtensionData]`:

```cs
    [JsonExtensionData]
    public IDictionary<string, object> Extensions { get; set; }
```

So, for any customization that you wanted to do that involves data not directly on the request object, my intention is that you would add it to the items dictionary in the validator and use it later in the [pipeline](https://docs.duendesoftware.com/identityserver/v6/configuration/dcr/customization/) (probably in a custom dcr request processor). Then, when the response is serialized, the extension data will echo back the custom claims from the software statement.

We also have a sample implementation of using software statements [here](https://github.com/DuendeSoftware/Samples/tree/main/IdentityServer/v6/Configuration/SoftwareStatement). 

Hopefully this helps. I understand you already have a working custom implementation, but if you do get a chance to experiment with it a bit more and run into issues, please let us know! For now, I think it makes sense to close this issue and we can re-open if you run into difficulties.




I totally overlooked the Extensions property. Ugh!

On Mon, Nov 6, 2023 at 9:28 AM Joe DeCock ***@***.***> wrote:

> Closed #1447
> <https://github.com/DuendeSoftware/IdentityServer/issues/1447> as
> completed.
>
> —
> Reply to this email directly, view it on GitHub
> <https://github.com/DuendeSoftware/IdentityServer/issues/1447#event-10877620996>,
> or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AALR4SMJJVA4VKPKT225X7LYDE25JAVCNFSM6AAAAAA6MECC72VHI2DSMVQWIX3LMV45UABCJFZXG5LFIV3GK3TUJZXXI2LGNFRWC5DJN5XDWMJQHA3TONRSGA4TSNQ>
> .
> You are receiving this because you were mentioned.Message ID:
> ***@***.***
> com>
>
